*.gradle
*.txt
*.properties
*.xml
*.js
*.css
*.ipr
*.iws
*.iml
android/gen/
android/libs/
out/
android/ic_launcher-web.png
android/res/
core/build/
desktop/build/
gradlew
html/src
html/webapp/index.html
ios/src
android/build/
build/